body {
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    width: 800px;
    height: 800px;
}
 
.gridItem {
    border: 1px solid black;
    background-color: white;
}

#popUp {
    margin-left: 300px;
}